
<div class="accounts-layout">
  <div class="custom-container">
    <div class="custom-row">

      <div class="custom-card" *ngIf="accounts.length === 0">
        <div class="custom-card-body" (click)="openCurrencyAccountForm()">
          <h2 class="custom-card-title" id="open-account-title">
            Otwórz nowe konto walutowe
          </h2>
        </div>
      </div>

      <div class="custom-col" *ngFor="let account of accounts">
        <div class="custom-card">
          <div class="custom-card-body" (click)="selectAccount(account)">
            <h5 class="custom-card-title">
              <p class="custom-card-title">
                {{ currencyFlags[account.currencyCode] + ' ' + account.currencyCode }} <br>
                {{ account.currencyName }}
              </p>
            </h5>
            <p class="custom-card-text"> {{ account.balance + ' ' + account.currencyCode }}</p>
            <p class="custom-card-text"> {{ (account.balanceInPLN | number : '1.2-2') +' PLN' }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div *ngIf="openAccountForm" class="selected-account-container" id="open-account-form">
    <div class="upper-container">
      <div class="upperleft-container">
        <div class="header-container" style="display: flex; flex-direction: row;">
          <div class="currency-flag-container">
            <h1 class="currency-flag"> + </h1>
          </div>
            <div class="currency-info-container" [routerLink]="['/currency', selectedAccount.currencyCode]">
              <div class="currency-info">
                <p class="currency-name">Wybierz walutę</p>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="lower-container">
      <div class="transactions">
        <div class="no-accounts-message"> Wyszukaj interesującą cię walutę i otwórz nowe konto walutowe już teraz! </div>
      </div>
    </div>

  </div>


  <div *ngIf="selectedAccount" class="selected-account-container">
    <div class="upper-container">
      <div class="upperleft-container">
        <div class="header-container" style="display: flex; flex-direction: row;">
          <div class="currency-flag-container" [routerLink]="['/currency', selectedAccount.currencyCode]">
            <h1 class="currency-flag">{{ currencyFlags[selectedAccount.currencyCode] }}</h1>
          </div>
          <div class="currency-info-container" [routerLink]="['/currency', selectedAccount.currencyCode]">
            <div class="currency-info">
              <p class="currency-code">{{ selectedAccount.currencyCode }}</p>
              <p class="currency-name">{{ selectedAccount.currencyName }}</p>
              <p class="currency-balance">{{ selectedAccount.balance + ' ' + selectedAccount.currencyCode }}</p>
              <p class="currency-balance"> {{ (selectedAccount.balanceInPLN | number : '1.2-2') +' PLN' }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="uppermiddle-container">
        <div class="actions-container">
          <input class="custom-form-control" type="text" placeholder="Wprowadź kwotę do wpłaty/wypłaty" [formControl]="amountControl">
          <p>Kwota : {{ (expectedPrice  | number : '1.4-4')}} PLN</p>
          <div class="buttons">
            <button class="custom-btn custom-btn-outline-primary" (click)="onAddMoney(selectedAccount)">Dodaj fundusze</button>
            <button class="custom-btn custom-btn-outline-primary withdraw" (click)="createPayout(selectedAccount)">Wypłać fundusze</button>
          </div>

          <div class="loading-overlay" *ngIf="selectedAccount.isLoading">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
      <div class="upperright-container">
        <button class="delete" (click)="onDeleteAccount(selectedAccount)">
          <img src="assets/delete_account.svg" class="delete-svg" alt="delete account">
        </button>
      </div>
    </div>









<!--    &lt;!&ndash; Thead table &ndash;&gt;-->
<!--    <div class="table-wrapper">-->
<!--      <table class="transactions-table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th>Ilość</th>-->
<!--          <th>Kurs</th>-->
<!--          <th>Wartość</th>-->
<!--          <th>Typ transakcji</th>-->
<!--          <th>Data</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--      </table>-->
<!--    </div>-->

<!--    &lt;!&ndash; Tbody table &ndash;&gt;-->
<!--    <div class="lower-container">-->
<!--      <div class="transactions">-->
<!--        <div class="table-wrapper">-->
<!--          <table class="transactions-table">-->
<!--            <tbody>-->
<!--            <tr *ngFor="let transaction of transactions">-->
<!--              <td>{{ transaction.targetCurrency }}</td>-->
<!--              <td>{{ transaction.exchangeRate }}</td>-->
<!--              <td>{{ transaction.amountOfForeginCurrency }}</td>-->
<!--              <td>{{ transaction.typeOfTransaction }}</td>-->
<!--              <td>{{ transaction.transactionDate | date:'dd-MM-yy HH:mm' }}</td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
<!--      </div>-->

  <div class="history-container">
      <div class="transactions">
          <div class="table-container">
            <div class>
              <table>
                <thead>
                <tr>
                  <th>Ilość</th>
                  <th>Kurs</th>
                  <th>Wartość</th>
                  <th>Typ transakcji</th>
                  <th>Data</th>
                </tr>
                </thead>
              </table>
            </div>
            <div class="lower-container">
              <table>
                <tbody>
                <ng-container *ngFor="let transaction of transactions">
                  <tr *ngIf="transaction.typeOfTransaction == 'PAYOUT'; else elseBlock">
                    <td>{{ transaction.amountOfForeginCurrency  + ' ' + selectedAccount.currencyCode}}</td>
                    <td>{{ transaction.exchangeRate }}</td>
                    <td>{{ transaction.targetCurrency  + ' PLN' }}</td>
                    <td><img class="svg image" src="assets/PAYOUT.svg"></td>
                    <td>{{ transaction.transactionDate | date:'dd-MM-yy HH:mm' }}</td>
                  </tr>
                  <ng-template #elseBlock>
                    <tr>
                    <td>{{ transaction.targetCurrency + ' ' + selectedAccount.currencyCode }}</td>
                    <td>{{ transaction.exchangeRate }}</td>
                    <td>{{ transaction.amountOfForeginCurrency+ ' PLN' }}</td>
                      <td><img src="assets/{{ transaction.typeOfTransaction }}.svg"></td>
                    <td>{{ transaction.transactionDate | date:'dd-MM-yy HH:mm' }}</td><!-- Tutaj umieść kod, który ma być wyrenderowany, gdy transaction.typeOfTransaction nie jest równy 'PAYOUT' -->
                    </tr>
                  </ng-template>
                </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>

<!--    <div class="lower-container">-->
<!--      <div class="lower-container">-->
<!--        <div class="transactions">-->
<!--          <div class="transactions-table" >-->
<!--            <table>-->
<!--              <thead>-->
<!--              <tr>-->
<!--                <th>Ilość</th>-->
<!--                <th>Kurs</th>-->
<!--                <th>Wartość</th>-->
<!--                <th>Typ transakcji</th>-->
<!--                <th>Data</th>-->
<!--              </tr>-->
<!--              </thead>-->
<!--              <tbody>-->
<!--              <tr *ngFor="let transaction of transactions">-->
<!--                <td>{{ transaction.targetCurrency }}</td>-->
<!--                <td>{{ transaction.exchangeRate }}</td>-->
<!--                <td>{{ transaction.amountOfForeginCurrency }}</td>-->
<!--                <td>{{ transaction.typeOfTransaction }}</td>-->
<!--                <td>{{ transaction.transactionDate | date:'dd-MM-yy HH:mm' }}</td>-->
<!--              </tr>-->
<!--              </tbody>-->
<!--            </table>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

      </div>
    </div>

