<h3>Spis kont walutowych</h3>

<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let account of accounts">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <a [routerLink]="['/currency', account.curencyCode]">{{ account.curencyName + ' ' + account.curencyCode }}</a>
          </h5>
          <p class="card-text">Balans: {{ account.balance + ' ' + account.curencyCode + ' = ' + (account.balanceInPLN | number : '1.2-2') +' PLN' }}</p>
        </div>
      </div>
    </div>
  </div>
</div>


<h3>Create Currency Account</h3>

<form #createAccountForm="ngForm" (ngSubmit)="createCurrencyAccount(createAccountForm.value)">
  <div class="form-group">
    <label for="curencyCode">Currency Code</label>
    <input type="text" class="form-control" id="curencyCode" name="curencyCode" ngModel>
  </div>
  <div class="form-group">
    <label for="balance">Balance</label>
    <input type="number" class="form-control" id="balance" name="balance" ngModel>
  </div>
  <button type="submit" class="btn btn-primary">Create Account</button>
</form>
