.accounts-layout {
  display: flex;
  flex-direction: row;
  margin-left: 23vw;
  margin-top: 0px;
  margin-right: 20px;
  height: 89vh;
}

.selected-account-container {
  height: 100%;
  flex: 4;
  width: 85%;
  color: #dbdbdb;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 10px;
  border-radius: 47px;
  border: 2px solid #446475;
  padding: 30px;
  font-family: "Twemoji Country Flags", "Helvetica", serif;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(25px);
  //&:hover {
  //  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
  //  background: linear-gradient(92deg, rgba(241, 241, 241, 0.1) -0.4%, rgba(214, 214, 214, 0.1) 106.05%);
  //  backdrop-filter: blur(50px);
  //}
  .left-container {
    flex: 1;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .header-container {
      display: flex;
      flex-direction: row;

      .currency-flag {
        font-size: 6vw;

      }
      .currency-flag-container {
        height: 6vh;
        width: 6vw;
      }

      .currency-info-container {
        flex: 1;
        width: 20vw;
        height: 5vh;
        font-size: 2vw;
        margin-bottom: 0;
        margin-left: 10%;
      }
      .currency-name{
        margin-bottom:0;
        margin-top: 1vh;
        height: 3.5vh;
      }
      .currency-code{
        margin-top: 1vh;
        margin-bottom:0;
        height: 3.5vh;
      }
    }
  }

  .right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

}


.actions-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .buttons {
    display: flex;
    flex-direction: row;
    gap: 10px; // adjust as needed
  }

  .custom-form-control{
    width: 300px;
    height: 60px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
    color: #dbdbdb;

    border-radius: 15px;
    border: 2px solid #446475;

    background: linear-gradient(94deg, rgba(255, 255, 255, 0.02) 12.6%, rgba(255, 255, 255, 0.01) 100.13%);

    mix-blend-mode: screen;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(17.5px);
  }
}


.custom-container {
  flex: 0 0 20vw;
  width: 15vw;
  height: 100%;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  font-family: "Twemoji Country Flags", "Helvetica", serif;
  margin: 20px;
  margin-left: 0px;
  margin-right: 10px;
  padding: 20px;
  border-radius: 40px;
  border: 2px solid #446475;
  color: #dbdbdb;
  background: linear-gradient(94deg, rgba(255, 255, 255, 0.02) 12.6%, rgba(255, 255, 255, 0.01) 100.13%);
  mix-blend-mode: screen;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(17.5px);


  // custom scrollbar styles
  &::-webkit-scrollbar {
    width: 20px;
    padding-right: 20px;
    padding-top: 10%; // adjust this value to visually decrease the scrollbar height
    padding-bottom: 10%; // adjust this value to visually decrease the scrollbar height
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: inset 0 0 10px 10px transparentize(#888, 0.5);
    border: solid 5px transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 10px 10px transparentize(#888, 0.5);
    border: solid 5px transparent;
  }

  &::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 10px 10px #555;
    border: solid 5px transparent;
  }

}

.custom-row {
  display: flex;
  flex-direction: column;
}

.custom-col {
  display: flex;
  flex-direction: column;
}

.custom-card {
  // your styles here
}

.custom-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 47px;
  border: 2px solid #446475;

  background: linear-gradient(94deg, rgba(255, 255, 255, 0.04) 12.6%, rgba(255, 255, 255, 0.02) 100.13%);

  backdrop-filter: blur(25px);
  padding: 20px;
  margin: 20px;

  transition: box-shadow .3s;

    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
      background: linear-gradient(92deg, rgba(241, 241, 241, 0.1) -0.4%, rgba(214, 214, 214, 0.1) 106.05%);
      backdrop-filter: blur(50px);
    }
}

.custom-card-title {
  font-size: 3vh;
}

.custom-card-text {
  font-family: "Twemoji Country Flags", "Helvetica", serif;
  color: #DBDBDB;
  font-size: 1.5rem;
  margin-bottom: 0.5vh;
}

.custom-btn {
}

.custom-btn-outline-primary {
}

.custom-form-control {
}

.loading-overlay {
}

.create-account-form {
}

.form-group {
}

.custom-btn-primary {
}

.header{
  color: #dbdbdb;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover{
  color: #dbdbdb;
  text-decoration: none;
}







////cały kontener ze wszystkimi kafelkami
//.container {
//  display: grid;
//  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
//
//  justify-content: center;
//}
//.nag{
//  color: #dbdbdb;
//}
////cały kafelek wraz z zawartością
//.card{
//
//  display: flex;
//  flex-direction: column;
//  flex-wrap: wrap;
//  align-items: stretch;
//  margin-bottom: 8%;
//
//
//  border: 1px solid #ccc;
//  border-radius: 5px;
//  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
//  background: linear-gradient(92deg, rgba(241, 241, 241, 0.06) -0.4%, rgba(214, 214, 214, 0.04) 106.05%);
//  backdrop-filter: blur(17.5px);
//  min-height: 230px;
//  max-height: 400px;
//  min-width: 320px;
//
//
//
//  transition: box-shadow .3s;
//
//  &:hover {
//    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
//    background: linear-gradient(92deg, rgba(241, 241, 241, 0.1) -0.4%, rgba(214, 214, 214, 0.1) 106.05%);
//    backdrop-filter: blur(50px);
//    transform: scale(1.1);
//  }
//}
//
//
//.loading-overlay{
//  position: absolute;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  background-color: rgba(255, 255, 255, 0.5);
//  display: flex;
//  justify-content: center;
//  align-items: center;
//
//}
//.withdraw{
//  position: absolute;
//  padding: 3px 1px;
//}
//.form-control{
//  width: 275px;
//  font-size: 15.4px;
//}
////zawartość kafelka - tekst
//.card-body {
//  flex-grow: 1;
//  //padding: 15px;
//  padding: 15px 15px 15px 25px;
//  font-family: "Twemoji Country Flags", "Helvetica", serif;
//  color: #DBDBDB;
//}
//.btn{
//  margin-right: 11px;
//  margin-bottom: 11px;
//  padding: 3px 7px; /* Zmienia rozmiar przycisku poprzez zmianę paddingu */
//  font-size: 16px;
//}
//
////TODO:Ogólnie tutaj jest maniana w tym html i nie powinno się tak marginem robić
//.row{
//  margin-top: 15%;
//  margin-right: -87%;
//  margin-left: -87%;
//
//  .delete{
//    width: 275px;
//    color: #C82333;
//    border-color: #C82333;
//    &:hover {
//      // Tutaj dodaj style, które mają być zastosowane po najechaniu na przycisk
//      background-color: #C82333; // Na przykład, zmiana koloru tła
//      color: #f1f1f1; // Zmiana koloru tekstu
//    }
//    &:focus {
//      // Usuwa domyślną niebieską poświatę
//      background-color: #C82333;
//      box-shadow: 0 0 0 3px rgba(200, 35, 51, 0.5);
//      // Usuwa dodatkowy cień, który może się pojawiać
//    }
//
//    &:active:focus{
//      box-shadow: 0 0 0 3px rgba(200, 35, 51, 0.5);
//      border-color: #C82333;
//      background-color: #C82333;
//    }
//    //position: fixed;
//  }
//}
//
//.tile {
//  flex: 1 1 auto;
//  border: 1px solid #ccc;
//  border-radius: 5px;
//  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
//  background-color: #fff;
//  margin: 10px;
//  padding: 20px;
//  box-sizing: border-box;
//}
//
//.create-account-form {
//  max-width: 30vw;
//  margin: 0 auto;
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//
//  border-radius: 47px;
//  border: 2px solid #DBDBDB;
//  background: linear-gradient(94deg, rgba(255, 255, 255, 0.04) 12.6%, rgba(255, 255, 255, 0.02) 100.13%);
//  backdrop-filter: blur(25px);
//  padding: 10px;
//  color: #dbdbdb;
//}
//
//a{
//  color: #dbdbdb;
//}
//
//a:hover{
//  color: #dbdbdb;
//  text-decoration: none;
//}
