.accounts-layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding: 1%;
}
.upper-container{
  display: flex;
  flex-direction: row;
  height: 40%;
  width: 100%;
  padding: 2% 5% 5%;
}
.selected-account-container {
  height: 100%;
  flex: 4;
  width: 80%;
  overflow: hidden;
  margin-left: 1%;
  color: #dbdbdb;
  border-radius: 47px;
  border: 2px solid rgba(255, 255, 255, 0.22);
  font-family: "Twemoji Country Flags", "Helvetica", serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(25px);
  //&:hover {
  //  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
  //  background: linear-gradient(92deg, rgba(241, 241, 241, 0.1) -0.4%, rgba(214, 214, 214, 0.1) 106.05%);
  //  backdrop-filter: blur(50px);
  //}
  animation: scale-up 0.5s ease 0s 1 normal forwards;
  @keyframes scale-up {
    0% {
      transform: scale(0.2);
    }

    100% {
      transform: scale(1);
    }
  }

  .upperleft-container {
    flex: 1;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .header-container {
      display: flex;
      flex-direction: row;
      width:100%;
      height: 100%;

      .currency-flag {
        font-size: 6vw;

      }
      .currency-flag-container {
        height: 100%;
        width: 30%;
        cursor: pointer;
        padding:1%;
      }

      .currency-info-container {
        flex: 1;
        width: 70%;
        height: 100%;
        font-size: 1.5vw;
        cursor: pointer;
      }
      .currency-info{
        padding: 1%;
      }
    }
  }

  .uppermiddle-container {
    width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .currency-name, .currency-code, .currency-balance{
    height: 50%;
    margin-bottom: 1%;
    margin-top: 4%
  }
  .delete{
    fill: none;
    background: none;
    border: none;
    justify-content: end;
  }
  .delete-svg{
    height: 5vh;
    width: 5vw;
  }
}


.actions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 5%;
  margin-top: 5%;

  .buttons {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-size: 1.5vh;
  }

  .custom-form-control{
    width: 80%;
    height: 6vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
    color: #dbdbdb;
    font-size: 1vw;
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.22);
    background: linear-gradient(94deg, rgba(255, 255, 255, 0.02) 12.6%, rgba(255, 255, 255, 0.01) 100.13%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(17.5px);
  }
}
.upperright-container{
  width: 10%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.custom-container {
  flex: 0 0 20vw;
  width: 20%;
  height: 100%;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  font-family: "Twemoji Country Flags", "Helvetica", serif;
  border-radius: 40px;
  border: 2px solid rgba(255, 255, 255, 0.22);
  color: #dbdbdb;
  background: linear-gradient(94deg, rgba(255, 255, 255, 0.02) 12.6%, rgba(255, 255, 255, 0.01) 100.13%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(17.5px);
  animation: scale-up 0.5s ease 0s 1 normal forwards;
  @keyframes scale-up {
    0% {
      transform: scale(0.2);
    }

    100% {
      transform: scale(1);
    }
  }

  &::-webkit-scrollbar {
    width: 20px;
    padding-right: 20px;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: inset 0 0 10px 10px transparentize(#888, 0.5);
    border: solid 5px transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 10px 10px transparentize(#888, 0.5);
    border: solid 5px transparent;
  }

  &::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 10px 10px #555;
    border: solid 5px transparent;
  }

}

.custom-row {
  display: flex;
  flex-direction: column;
}

.custom-col {
  display: flex;
  flex-direction: column;
}

.custom-card {
  margin: 5%;
}

.custom-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 47px;
  border: 2px solid rgba(255, 255, 255, 0.22);
  cursor: pointer;
  background: linear-gradient(94deg, rgba(255, 255, 255, 0.04) 12.6%, rgba(255, 255, 255, 0.02) 100.13%);
  backdrop-filter: blur(25px);
  padding: 1%;

  transition: box-shadow .3s;

    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
      background: linear-gradient(92deg, rgba(241, 241, 241, 0.1) -0.4%, rgba(214, 214, 214, 0.1) 106.05%);
      backdrop-filter: blur(50px);
    }
}

.custom-card-title {
  font-size: 3vh;
}

.custom-card-text {
  font-family: "Twemoji Country Flags", "Helvetica", serif;
  color: #DBDBDB;
  font-size: 1rem;
  margin-bottom: 0.5vh;
}

.custom-btn {
  height: 4vh;
  width: 11vw;
  border-radius: 15px;
  background: linear-gradient(90deg, #2D8ABE -54.56%, #4D1877 110.37%);
  mix-blend-mode: screen;
  box-shadow: 0px 0px 18.2px 0px rgba(255, 255, 255, 0.25);
  color: #E4E4E4;
  text-align: center;
  font-style: normal;
  line-height: normal;
  border: none;
}
.custom-btn:hover{
  box-shadow: 0px 0px 18.2px 0px rgba(255, 255, 255, 0.65);
}

.custom-btn-outline-primary {
}

.custom-form-control {
}

.loading-overlay {
}

.create-account-form {
}

.form-group {
}

.custom-btn-primary {
}

.header{
  color: #dbdbdb;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover{
  color: #dbdbdb;
  text-decoration: none;
}
.lower-container{
  display: flex;
  height: 60%;
  width: 100%;
  justify-content: center;
}

.transactions{
  height: 90%;
  width: 90%;
  border-radius: 40px;
  border: 2px solid rgba(255, 255, 255, 0.22);
  background: linear-gradient(94deg, rgba(255, 255, 255, 0.04) 12.6%, rgba(255, 255, 255, 0.02) 100.13%);
  backdrop-filter: blur(25px);


  &::-webkit-scrollbar-track {
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: inset 0 0 10px 10px transparentize(#888, 0.5);
    border: solid 5px transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 10px 10px transparentize(#888, 0.5);
    border: solid 5px transparent;
  }

  &::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 10px 10px #555;
    border: solid 5px transparent;
  }
}


#open-account-title{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dbdbdb;
}

.no-accounts-message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dbdbdb;
  margin: 20px;
}
