.whole-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.sidebar-container{
  width: 20%;
  height: 100%;
  max-width: 400px;
}

.rest-of-content{
  min-width: 80%;
  max-width: calc(100% - 400px);
  height: 100%;
}
.header-container{
  width: 100%;
  height: 10%;
}
.main-content{
  width: 100%;
  height: 90%;
}
