.main-settings-container{
  padding: 1%;
  height: 100%;
  width: 100%;
}
.settings-window{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2% 3%;
  color: #dbdbdb;
  border: 2px solid rgba(255, 255, 255, 0.22);
  background: linear-gradient(94deg, rgba(255, 255, 255, 0.04) 12.6%, rgba(255, 255, 255, 0.02) 100.13%);
  backdrop-filter: blur(25px);
  border-radius: 47px;
}
p{
  color: rgba(255, 255, 255, 0.69);
}
.upper-settings-container{
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 100%;
}
.lower-settings-container{
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 100%;
}
.settings-header{
  height: 50%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}
.settings-picker-outer{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50%;
}
.settings-picker-inner{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40%;
  border-radius: 40px;
  background: linear-gradient(94deg, rgba(255, 255, 255, 0.12) 12.6%, rgba(255, 255, 255, 0.06) 100.13%);
}
.profile-active, .security-active, .help-active{
  height: 100%;
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:  0px 40px 0px 0px;

}
.profile-inactive, .security-inactive, .help-inactive{
  height: 100%;
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:  0px 40px 0px 0px;

}
.buttons-active{
  color: #5FE5EE;
  border: none;
  background: none;
}
.buttons-inactive{
  color: #DBDBDB;
  border: none;
  background: none;
}
