.main-settings-container{
  padding: 1%;
  height: 100%;
  width: 100%;
}
.settings-window{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2% 3%;
  color: #dbdbdb;
  border: 2px solid rgba(255, 255, 255, 0.22);
  background: linear-gradient(94deg, rgba(255, 255, 255, 0.04) 12.6%, rgba(255, 255, 255, 0.02) 100.13%);
  backdrop-filter: blur(25px);
  border-radius: 47px;
  animation: scale-up 0.5s ease 0s 1 normal forwards;
  @keyframes scale-up {
    0% {
      transform: scale(0.2);
    }

    100% {
      transform: scale(1);
    }
  }
}
h1{
  font-size: 2.5vw;
  color: #dbdbdb;
}
#settings-header-text{
  color: rgba(255, 255, 255, 0.69);
  font-size: 1.5vw;
}
.upper-settings-container{
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 100%;
}
.lower-settings-container{
  display: flex;
  flex-direction: row;
  height: 70%;
  width: 100%;
  margin: 2%;
}
.settings-header{
  height: 50%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}
.settings-picker-outer{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50%;
}
.settings-picker-inner{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25%;
  border-radius: 40px;
  background: linear-gradient(94deg, rgba(255, 255, 255, 0.12) 12.6%, rgba(255, 255, 255, 0.06) 100.13%);
}
.profile-active, .security-active, .help-active{
  height: 100%;
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px 0px 0px 40px;
  background: linear-gradient(94deg, rgba(255, 255, 255, 0.12) 12.6%, rgba(255, 255, 255, 0.06) 100.13%);
}
.security-active{
  border-radius: 0;
}
.help-active{
  border-radius: 0px 40px 40px 0px;
}
.profile-inactive{
  border-radius:  0px 40px 0px 0px;
}
.help-inactive:hover{
  border-radius: 0px 40px 40px 0px;
  background: linear-gradient(94deg, rgba(255, 255, 255, 0.12) 12.6%, rgba(255, 255, 255, 0.06) 100.13%);
}
.profile-inactive:hover{
  border-radius: 40px 0px 0px 40px;
  background: linear-gradient(94deg, rgba(255, 255, 255, 0.12) 12.6%, rgba(255, 255, 255, 0.06) 100.13%);
}
.security-inactive:hover{
  border-radius: 0;
  background: linear-gradient(94deg, rgba(255, 255, 255, 0.12) 12.6%, rgba(255, 255, 255, 0.06) 100.13%);
}
.profile-inactive, .security-inactive, .help-inactive{
  height: 100%;
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons-active{
  color: #5FE5EE;
  border: none;
  background: none;
  font-size: 1.25vw;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons-inactive{
  color: #DBDBDB;
  border: none;
  background: none;
  font-size: 1.25vw;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selected-profile, .selected-help, .selected-security{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  animation: fade-in 1s ease 0s 1 normal forwards;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
.username{
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1%;
}
.firstname{
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1%;
}
.lastname{
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1%;
}
.email
{
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1%;
}
.settings-text{
  margin: 0;
  height: 10%;
  display: flex;
  align-items: center;
}
.settings-forms{
  display: flex;
  flex-direction: row;
  background: linear-gradient(
      94deg,
      rgba(255, 255, 255, 0.04) 12.6%,
      rgba(255, 255, 255, 0.02) 100.13%);
  border-radius: 40px;
}
.input-box{
  width: 75%;
  background: none;
  border: none;
  color: rgba(219, 219, 219, 0.56);
  padding-left: 4%;
  &:focus{
    outline: none;
  }
}
#active-username, #active-firstname, #active-lastname{
  color: #DBDBDB;
}
.button-box{
  width: 25%;
  background: none;
  border-radius: 0 40px 40px 0;
  border: none;
  color: rgba(219, 219, 219, 0.56);
  &:hover{
    color: rgba(219, 219, 219, 0.82);
  }
}
.lower-settings-titles
{
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  gap: 1%;
}
.lower-settings-inputs
{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  gap: 1%;
}

