<div class="main-settings-container">
  <div class="settings-window">
    <div class="upper-settings-container">
      <div class="settings-header">
        <h1>Ustawienia</h1>
        <p id="settings-header-text">Zarządaj ustawieniami konta i powiadomień</p>
      </div>
      <div class="settings-picker-outer">
        <div class="settings-picker-inner">
          <div class="profile-active" *ngIf="isProfileSelected">
            <button class="buttons-active" (click)="selectCategory('profile')">Profile</button>
          </div>
          <div class="profile-inactive" *ngIf="!isProfileSelected">
            <button class="buttons-inactive"  (click)="selectCategory('profile')">Profile</button>
          </div>
          <div class="security-active" *ngIf="isSecuritySelected">
            <button class="buttons-active"  (click)="selectCategory('security')">Security</button>
          </div>
          <div class="security-inactive" *ngIf="!isSecuritySelected">
            <button class="buttons-inactive"  (click)="selectCategory('security')">Security</button>
          </div>
          <div class="help-active" *ngIf="isHelpSelected">
            <button class="buttons-active"  (click)="selectCategory('help')">Help</button>
          </div>
          <div class="help-inactive" *ngIf="!isHelpSelected">
            <button class="buttons-inactive"  (click)="selectCategory('help')">Help</button>
          </div>
        </div>
      </div>
    </div>
    <div class="lower-settings-container">

      <div class="selected-profile" *ngIf="isProfileSelected">
        <!-- Profile settings go here -->
        <p> Profil </p>
        <div class="username" *ngIf="!isEditingUsername">
          <p class="settings-text">Nazwa użytkownika:</p>
          <form class="settings-forms">
            <input class="input-box" [readonly]="true" [(ngModel)]="user_name" name="username">
            <button class="button-box" (click)="toggleEditUsername()">Zmień</button>
          </form>
        </div>
        <div class="username" *ngIf="isEditingUsername">
          <p class="settings-text">Nazwa użytkownika:</p>
          <form class="settings-forms" (ngSubmit)="updateUserOnServer()">
            <input id="active" class="input-box" [(ngModel)]="user_name" name="username">
            <button class="button-box" type="submit">Zapisz</button>
          </form>
        </div>
        <p> Imię: {{firstname}} </p>
      </div>

      <div class="selected-security"  *ngIf="isSecuritySelected">
        <!-- Security settings go here -->
        <p> Bezpieczeństwo </p>

      </div>

      <div class="selected-help" *ngIf="isHelpSelected">
        <!-- Help settings go here -->
        <p> Pomocy </p>

      </div>

    </div>
  </div>
</div>
