<div class="main-settings-container">
  <div class="settings-window">
    <div class="upper-settings-container">
      <div class="settings-header">
        <h1>Ustawienia</h1>
        <p id="settings-header-text">Zarządaj ustawieniami konta i powiadomień</p>
      </div>
      <div class="settings-picker-outer">
        <div class="settings-picker-inner">
          <div class="profile-active" *ngIf="isProfileSelected">
            <button class="buttons-active" (click)="selectCategory('profile')">Profile</button>
          </div>
          <div class="profile-inactive" *ngIf="!isProfileSelected">
            <button class="buttons-inactive"  (click)="selectCategory('profile')">Profile</button>
          </div>
          <div class="security-active" *ngIf="isSecuritySelected">
            <button class="buttons-active"  (click)="selectCategory('security')">Security</button>
          </div>
          <div class="security-inactive" *ngIf="!isSecuritySelected">
            <button class="buttons-inactive"  (click)="selectCategory('security')">Security</button>
          </div>
          <div class="help-active" *ngIf="isHelpSelected">
            <button class="buttons-active"  (click)="selectCategory('help')">Help</button>
          </div>
          <div class="help-inactive" *ngIf="!isHelpSelected">
            <button class="buttons-inactive"  (click)="selectCategory('help')">Help</button>
          </div>
        </div>
      </div>
    </div>
    <div class="lower-settings-container">
      <div class="selected-profile" *ngIf="isProfileSelected">
        <div class="lower-settings-titles">
          <p class="settings-text">Nazwa użytkownika:</p>
          <p class="settings-text">Imię:</p>
          <p class="settings-text">Nazwisko:</p>
          <p class="settings-text">Email:</p>
        </div>
        <div class="lower-settings-inputs">
          <div class="username" *ngIf="!isEditingUsername">
            <form class="settings-forms">
              <input class="input-box" [readonly]="true" [(ngModel)]="user_name" name="username">
              <button class="button-box" (click)="toggleEditUsername()">Zmień</button>
            </form>
          </div>
          <div class="username" *ngIf="isEditingUsername">
            <form class="settings-forms" (ngSubmit)="changeUserLogin()">
              <input id="active-username" class="input-box" [(ngModel)]="user_name" name="username">
              <button class="button-box" type="submit">Zapisz</button>
            </form>
          </div>
          <div class="firstname"  *ngIf="!isEditingFirstName">
            <form class="settings-forms">
              <input class="input-box" [readonly]="true" [(ngModel)]="firstname" name="firstname">
              <button class="button-box" (click)="toggleEditFirstName()">Zmień</button>
            </form>
          </div>
          <div class="firstname" *ngIf="isEditingFirstName">
            <form class="settings-forms" (ngSubmit)="changeUserFirstName()">
              <input id="active-firstname" class="input-box" [(ngModel)]="firstname" name="firstname">
              <button class="button-box" type="submit">Zapisz</button>
            </form>
          </div>
          <div class="lastname" *ngIf="!isEditingLastName">
            <form class="settings-forms">
              <input class="input-box" [readonly]="true" [(ngModel)]="lastname" name="lastname">
              <button class="button-box" (click)="toggleEditLastName()">Zmień</button>
            </form>
          </div>
          <div class="lastname" *ngIf="isEditingLastName">
            <form class="settings-forms" (ngSubmit)="changeUserLastName()">
              <input id="active-lastname" class="input-box" [(ngModel)]="lastname" name="lastname">
              <button class="button-box" type="submit">Zapisz</button>
            </form>
          </div>
          <div class="email" *ngIf="!isEditingEmail">
            <form class="settings-forms">
              <input class="input-box" [readonly]="true" [(ngModel)]="email" name="email">
              <button class="button-box" (click)="toggleEditEmail()">Zmień</button>
            </form>
          </div>
          <div class="email" *ngIf="isEditingEmail">
            <form class="settings-forms" (ngSubmit)="changeUserEmail()">
              <input id="active-email" class="input-box" [(ngModel)]="email" name="email">
              <button class="button-box" type="submit">Zapisz</button>
            </form>
          </div>
        </div>
      </div>

      <div class="selected-security"  *ngIf="isSecuritySelected">
        <!-- Security settings go here -->
        <p> Bezpieczeństwo </p>

      </div>

      <div class="selected-help" *ngIf="isHelpSelected">
        <!-- Help settings go here -->
        <p> Pomocy </p>

      </div>

    </div>
  </div>
</div>
