/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("assets/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

}

.cdk-overlay-container {
  z-index: 1000000;
}

.mdc-snackbar__surface{
  border-radius: 12px;
}

.success-snackbar {
  background-color: #2D8ABE;
  color: #DBDBDB;
  max-width: 15% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 1rem !important;
  //padding: 10px !important;
  align-content: center;
  justify-content: center;
  text-align: center;
  top: 200px;
  border-radius: 12px;
}

/* src/styles.scss */

.error-snackbar {
  position: fixed;
  background-color: rgba(255, 0, 0, 0.47);
  color: #DBDBDB;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 1rem !important;
  align-content: center;
  justify-content: center;
  text-align: center;
  top: 0;
  border-radius: 12px;
  z-index: 99999;
}

/* Dynamic width classes */
.width-100 {
  width: 100px !important;
}

.width-200 {
  width: 200px !important;
}


.register-error-snackbar {
  position: fixed;
  background-color: rgba(255, 0, 0, 0.47);
  color: #DBDBDB;
  width: 346px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 1rem !important;
  align-content: center;
  justify-content: center;
  text-align: center;
  top: 0;
  border-radius: 12px;
  z-index: 99999;
}
