/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("assets/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.cdk-overlay-container {
  z-index: 1000000;
}

.mdc-snackbar__surface {
  border-radius: 12px;
}

.success-snackbar {
  position: fixed !important;
  background-color: #2D8ABE;
  color: #DBDBDB;
  max-width: 15% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 1rem !important;
  //padding: 10px !important;
  align-content: center;
  justify-content: center;
  text-align: center;
  top: 50px;
  height: 52px;
  border-radius: 12px;
}

app-root {
  height: 100vh;
  width: 100vw;
}

/* src/styles.scss */

.error-snackbar {
  position: fixed !important;
  width: 230px;
  background-color: rgba(200, 0, 0, 0.9);
  color: #DBDBDB;
  font-weight: bold;

  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 1rem !important;
  align-content: center;
  justify-content: center;
  text-align: center;
  bottom: 150px !important;
  border-radius: 12px;
  z-index: 99999;
  height: 52px;
  top: 50px;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  box-shadow: none !important;

}

/* Dynamic width classes */
.width-100 {
  width: 100px !important;
}

.width-200 {
  width: 200px !important;
}


.register-error-snackbar {
  position: fixed !important;
  background-color: rgba(255, 0, 0, 0.9);
  color: #DBDBDB;
  width: 346px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 1rem !important;
  align-content: center;
  justify-content: center;
  text-align: center;
  //top: 40px;
  border-radius: 12px;
  //z-index: 99999;
  bottom: 47px !important;
  height: 52px;
  top: 50px;
}
