.carousel-inner img {
  width: 100%;
  margin: auto;
  min-height:100px;
  max-height: 300px;
}
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
    background-color: #001233;
  }
}
.main.box {
  display: flex;
}
.left.graf {
  background-color: #001233;
  color: #CAC0B3;
  width: 50%;
  height: 30vh;
  border-bottom: 5px;
  border-bottom-color: #FF595A;
  text-align: center;

}
.right.news{
  display: grid;
  background-color: #001233;
  color: #CAC0B3;
  width: 50%;
  text-align: center;

}

.right.news info_1{
  width: 100%;
}
.right.news info_2{
  width: 100%;
}
// Trzeba dodać zdjęcie
.carousel_img_1 {
}
