.sidebar-left {
  width: 280px;
  height: 100%;
  color: #DBDBDB;
  position: absolute;
  border-right: 2px solid #446475;
  background: linear-gradient(94deg, rgba(255, 255, 255, 0.04) 12.6%, rgba(255, 255, 255, 0.02) 100.13%);
  backdrop-filter: blur(25px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}
.icons-kantor{
  width: 42px;
  height: 42px;
  margin-right: 4px;
}
.nav-list, .nav-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo{
  margin-left: -16px !important;
  margin-top: 38px;
}
.text-class {
  align-self: flex-start;
  margin-left: 55px;
}

.text-bottom-left-sidebar{
  margin-bottom: 45px;
}
.active-icon {
  color: #5FE5EE; // Zastąp '#your-color' kolorem, na który chcesz zmienić
}


