<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel użytkownika</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="d-flex flex-column min-vh-100" >

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Kantor Walut</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="#">Profil</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Ustawienia</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Wiadomości</a></li>
        </ul>
        <form class="form-inline" action="/logout" method="post">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Wyloguj się</button>
        </form>
    </div>
</nav>

<div class="container mt-5">
    <h1>Witaj, <span th:text="${username}">Użytkownik</span>!</h1>
    <p>Tutaj znajdziesz informacje dostępne tylko dla zalogowanych użytkowników.</p>
</div>
<footer class="mt-auto">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); flex-grow: 1;">
        © 2024 Kantor Walut, Wszelkie prawa zastrzeżone.
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
