<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularz rejestracji</title>
    <!-- Dodajemy Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100" >
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Kantor Walut</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Strona Główna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Kursy Walut</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Kontakt</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Wyszukaj walutę" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
        </form>
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/login">Logowanie</a>
            <a class="nav-item nav-link" href="/register">Rejestracja</a>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <h2>Formularz rejestracji</h2>
    <form th:action="@{/process_register}" method="post" th:object="${user}">
        <div class="form-group">
            <label for="firstName">Imię</label>
            <input type="text" class="form-control" id="firstName" placeholder="Wpisz imię" th:field="*{firstName}" required >
        </div>
        <div class="form-group">
            <label for="lastName">Nazwisko</label>
            <input type="text" class="form-control" id="lastName" placeholder="Wpisz nazwisko" th:field="*{lastName}" required>
        </div>
        <div class="form-group">
            <label for="email">Adres e-mail</label>
            <input type="email" class="form-control" id="email" placeholder="Wpisz adres e-mail" th:field="*{email}" required>
        </div>
        <div class="form-group">
            <label for="username">Login</label>
            <input type="text" class="form-control" id="username" placeholder="Wpisz login" th:field="*{username}" required>
        </div>
        <div class="form-group">
            <label for="password">Hasło</label>
            <input type="password" class="form-control" id="password" placeholder="Wpisz hasło" th:field="*{password}" required>
        </div>
        <button type="submit" class="btn btn-primary">Zarejestruj się</button>
    </form>
    <div th:if="${param.error}" class="alert alert-danger">
        <p th:text="${registrationError}"></p>
    </div>

</div>
<footer class="mt-auto">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); flex-grow: 1;">
        © 2024 Kantor Walut, Wszelkie prawa zastrzeżone.
    </div>
</footer>
<!-- Opcjonalnie: Dodajemy Bootstrap JS i zależności -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
