
<div class="currency-detail-container">
  <div class="currency-details">
    <div class="header-container">
      <h2>Informacje o walucie </h2>
      <h3>{{ currencyDetails.currency +' ' + currencyFlags[currencyDetails.code] }}</h3>
      <p>Kod waluty: {{ currencyDetails.code }}</p>
        <p>Cena (Mid): {{ currencyDetails.rates[0].mid + ' PLN'}}</p>

      <p> Wykres waluty z dni {{ formatDate(startDate) }} - {{ formatDate(endDate) }}</p>
    </div>
    <div class="chart-container"><canvas id="chart" width="80vw" height="60vh"></canvas></div>

    <div class="chart-buttons-container">
      <div class="chart-buttons-inner-container">
        <button class="chart-buttons" (click)="changeDateRange(7)">1 T</button>
        <button class="chart-buttons" (click)="changeDateRange(14)">2 T</button>
        <button class="chart-buttons" (click)="changeDateRange(30)">1 M</button>
        <button class="chart-buttons" (click)="changeDateRange(90)">3 M</button>
        <button class="chart-buttons" (click)="changeDateRange(365)">1 R</button>
      </div>
    </div>

  </div>
</div>
