

<div class="currency-details">
  <h3>Informacje o walucie <br> <b>&nbsp;{{ currencyDetails.currency +' ' + currencyFlags[currencyDetails.code] }}</b> </h3>
  <p>Kod waluty: {{ currencyDetails.code }}</p>
    <p>Cena (Mid): {{ currencyDetails.rates[0].mid + ' PLN'}}</p>

  <p> Wykres waluty z dni {{ startDate }} - {{ endDate }}</p>
  <div class="chart-container"><canvas id="chart" width="80vw" height="60vh"></canvas></div>

<button (click)="changeDateRange(7)">1 Tydzień</button>
  <button (click)="changeDateRange(14)">2 Tygodnie</button>
  <button (click)="changeDateRange(30)">1 Miesiąc</button>
  <button (click)="changeDateRange(90)">3 Miesiące</button>
  <button (click)="changeDateRange(365)">12 Miesięcy</button>

</div>
