.currency-details {
  display: block;
  width: 550px;
  margin: 50px auto 50px 120px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-family: "Twemoji Country Flags", "Helvetica", serif;


}
