.welcome-page-container{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding: 1%;
  animation: scale-up 0.5s ease 0s 1 normal forwards;
  @keyframes scale-up {
    0% {
      transform: scale(0.2);
    }

    100% {
      transform: scale(1);
    }
  }
}
.main-container{
  margin-top: 1%;
  display: flex;
  height: 90%;
  width: 100%;

}
.left-container{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;

}
.right-container{
  display: flex;
  height: 100%;
  width: 25%;
  border: 2px solid rgba(255, 255, 255, 0.22);
  border-radius: 47px;
  color: #dbdbdb;
  backdrop-filter: blur(25px);
  padding: 1%;
  margin-left: 1%;
}
.upper-container{
  display: flex;
  justify-content: space-around;
  height: 60%;
  width: 100%;
  padding: 1%;
  border: 2px solid rgba(255, 255, 255, 0.22);
  border-radius: 47px;
  color: #dbdbdb;
  backdrop-filter: blur(25px);

}


// Wykresy

#chartUSD, #chartEUR, #chartCHF {
  height: 70%;
}

.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 30%;
}

//.chart-container canvas {
//  height: 90%;
//  width: 30%;
//  margin-bottom: 3%;
//}

//kod waluty nad wykresem
.chart-container p {
  margin: 0;
  height: 10%;
  font-weight: bold;
}


.welcome-text{
  font-family: "Twemoji Country Flags", "Helvetica", serif;
  padding: 4%;
  text-align: justify;
  font-size: 120%;
}


.lower-container{
  display: flex;
  height: 40%;
  width: 100%;
  padding: 1%;
  flex-direction: row;
}
.left-down-container{
  display: flex;
  height: 100%;
  width: 30%;
  flex-direction: column;
  border: 2px solid rgba(255, 255, 255, 0.22);
  border-radius: 47px;
  color: #dbdbdb;
  backdrop-filter: blur(25px);

}
.right-down-container{
  display: flex;
  height: 100%;
  width: 70%;
  flex-direction: column;
  border: 2px solid rgba(255, 255, 255, 0.22);
  border-radius: 47px;
  color: #dbdbdb;
  backdrop-filter: blur(25px);
  margin-left: 1%;
  overflow-y: auto;
}

.popular-pairs{ //kontener dla par walutowychd
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  color: #DBDBDB;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  margin-top: 2%;

  &::-webkit-scrollbar {
    width: 20px;
    padding-right: 20px;
    padding-top: 10%; // adjust this value to visually decrease the scrollbar height
    padding-bottom: 10%; // adjust this value to visually decrease the scrollbar height
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: inset 0 0 10px 10px transparentize(#888, 0.5);
    border: solid 5px transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 10px 10px transparentize(#888, 0.5);
    border: solid 5px transparent;
  }

  &::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 10px 10px #555;
    border: solid 5px transparent;
  }
}

.pairs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  padding: 1%;
}

.column {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 2%;
}

.banner {
  display: flex;
  white-space: nowrap;
  animation: banner-move 20s linear infinite;
  color: #DBDBDB;
  justify-content: space-around;
  align-items: center;
  position: relative;
  font-size: 16px;
  //justify-content: center;
  //font-size: 1.5em;
  //font-weight: 500f;
  //text-align: center;

  a {
    color: #DBDBDB;
    text-decoration: none;
  }

}

@keyframes banner-move {
  0% {transform: translateX(50%);}
  100% {transform: translateX(-50%);}
}
.banner-outer-container{
  height: 10%;
  width: 100%;
}
.banner-inner-container{
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  display:flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1%;
  padding-top: 0.5%;
  border: 2px solid rgba(255, 255, 255, 0.22);
  border-radius: 47px;
  color: #dbdbdb;
  backdrop-filter: blur(25px);
}
.exchange-rate-change {
  display: inline-block;
  margin-right: 20px;
  //font-size: 1vw;
  font-size: 130%;
  //width: 180px;
}
.exchange-rate-text{
  margin-bottom: 0;
  //display: flex;
  //justify-content: center;
  //align-items: center;

}
.positive {
  color: green;
}

.negative {
  color: red;
}
.zero {
  color: #5fe5ee;
}

.square {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: #5fe5ee;
  transform: rotate(45deg) translateY(-4px);
}

.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  border-style: solid;
}

.up {
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent green transparent;
}

.down {
  border-width: 10px 5px 0 5px;
  border-color: red transparent transparent transparent;
}


.left-down-container{
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
  padding: 0;
  font-family: "Twemoji Country Flags", "Helvetica", serif;
  &::-webkit-scrollbar {
    width: 20%;
    padding-right: 20px;
    padding-top: 10%; // adjust this value to visually decrease the scrollbar height
    padding-bottom: 10%; // adjust this value to visually decrease the scrollbar height
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: inset 0 0 10px 10px transparentize(#888, 0.5);
    border: solid 5px transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 10px 10px transparentize(#888, 0.5);
    border: solid 5px transparent;
  }

  &::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 10px 10px #555;
    border: solid 5px transparent;
  }
}
.header-containerr {
  border-bottom: 2px solid rgba(255, 255, 255, 0.22);
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: transparent;
  backdrop-filter: blur(10px);
  background-attachment: fixed; /* Dodaj tę linię */
}


.custom-col{
  display: flex;
  flex-direction: row;
  padding: 5%;
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.22);
  height: 10%;
  padding-bottom: 12%;
}
.custom-card{
  width: 100%;
}
.custom-card-body{
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
}
.custom-card{
  height: 100%;
  width: 100%;
}
.custom-card-title, .custom-card-text{
  margin: 0;
  height: 100%;
  width: 50%;
}
#currency-info{
  width: 100%;
}
.custom-card-text{
  width: 50%;
}


.account-container{
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  &::-webkit-scrollbar {
    width: 20%;
    padding-right: 20px;
    padding-top: 10%; // adjust this value to visually decrease the scrollbar height
    padding-bottom: 10%; // adjust this value to visually decrease the scrollbar height
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: inset 0 0 10px 10px transparentize(#888, 0.5);
    border: solid 5px transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 10px 10px transparentize(#888, 0.5);
    border: solid 5px transparent;
  }

  &::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 10px 10px #555;
    border: solid 5px transparent;
  }
}

.trasactions-container{
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  &::-webkit-scrollbar {
    width: 20%;
    padding-right: 20px;
    padding-top: 10%; // adjust this value to visually decrease the scrollbar height
    padding-bottom: 10%; // adjust this value to visually decrease the scrollbar height
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: inset 0 0 10px 10px transparentize(#888, 0.5);
    border: solid 5px transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 10px 10px transparentize(#888, 0.5);
    border: solid 5px transparent;
  }

  &::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 10px 10px #555;
    border: solid 5px transparent;
  }

}

th, td {
  text-align: center;
  width: 20%;
  font-size: 1.25rem;
}
.transaction-row{
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.22);
  padding-left: 4%;
  padding-right: 4%;
  width: 100%;
}
tbody{
  width:100%;
}
.row{
  width: 100%;
}

.svg-image{
  color: #dbdbdb;
}
