
<div class="welcome-page-container">
  <div class="banner-outer-container">
    <div class="banner-inner-container">
      <div class="banner">
        <div *ngFor="let exchangeRateChange of exchangeRatesChanges" class="exchange-rate-change">
          <a [routerLink]="['/currency/', exchangeRateChange.from.toLowerCase()]">
            <p class="exchange-rate-text">
              {{ exchangeRateChange.from }} to PLN: {{ exchangeRateChange.rate | number:'1.4-4' }}
            </p>
            <p class="exchange-rate-text"
               [ngClass]="{
                       'positive': (exchangeRateChange.change > 0) || ((exchangeRateChange?.percentageChange ?? 0) > 0),
                       'negative': (exchangeRateChange.change < 0) || ((exchangeRateChange?.percentageChange ?? 0) < 0),
                       'zero': (exchangeRateChange.change == 0) || ((exchangeRateChange?.percentageChange ?? 0) == 0)
                     }">
              {{ exchangeRateChange.change | number:'1.4-4'}}
              <span class="arrow"
                    [ngClass]="{
                    'up': (exchangeRateChange.change > 0) || ((exchangeRateChange?.percentageChange ?? 0) > 0),
                    'down': (exchangeRateChange.change < 0) || ((exchangeRateChange?.percentageChange ?? 0) < 0),
                    'square': (exchangeRateChange.change == 0) || ((exchangeRateChange?.percentageChange ?? 0) == 0)
                  }">
              </span>
              {{ (exchangeRateChange?.percentageChange ?? 0) | number:'1.2-2' }}%
            </p>
          </a>
        </div>
      </div>
      <div class="banner">
        <div *ngFor="let exchangeRateChange of exchangeRatesChanges" class="exchange-rate-change">
          <a [routerLink]="['/currency/', exchangeRateChange.from.toLowerCase()]">
            <p class="exchange-rate-text">
              {{ exchangeRateChange.from }} to PLN: {{ exchangeRateChange.rate | number:'1.4-4' }}
            </p>
            <p class="exchange-rate-text"
               [ngClass]="{
                       'positive': (exchangeRateChange.change > 0) || ((exchangeRateChange?.percentageChange ?? 0) > 0),
                       'negative': (exchangeRateChange.change < 0) || ((exchangeRateChange?.percentageChange ?? 0) < 0),
                       'zero': (exchangeRateChange.change == 0) || ((exchangeRateChange?.percentageChange ?? 0) == 0)
                     }">
              {{ exchangeRateChange.change | number:'1.4-4'}}
              <span class="arrow"
                    [ngClass]="{
                    'up': (exchangeRateChange.change > 0) || ((exchangeRateChange?.percentageChange ?? 0) > 0),
                    'down': (exchangeRateChange.change < 0) || ((exchangeRateChange?.percentageChange ?? 0) < 0),
                    'square': (exchangeRateChange.change == 0) || ((exchangeRateChange?.percentageChange ?? 0) == 0)
                  }">
              </span>
              {{ (exchangeRateChange?.percentageChange ?? 0) | number:'1.2-2' }}%
            </p>
          </a>
        </div>
      </div>
      <div class="banner">
        <div *ngFor="let exchangeRateChange of exchangeRatesChanges" class="exchange-rate-change">
          <a [routerLink]="['/currency/', exchangeRateChange.from.toLowerCase()]">
            <p class="exchange-rate-text">
              {{ exchangeRateChange.from }} to PLN: {{ exchangeRateChange.rate | number:'1.4-4' }}
            </p>
            <p class="exchange-rate-text"
               [ngClass]="{
                       'positive': (exchangeRateChange.change > 0) || ((exchangeRateChange?.percentageChange ?? 0) > 0),
                       'negative': (exchangeRateChange.change < 0) || ((exchangeRateChange?.percentageChange ?? 0) < 0),
                       'zero': (exchangeRateChange.change == 0) || ((exchangeRateChange?.percentageChange ?? 0) == 0)
                     }">
              {{ exchangeRateChange.change | number:'1.4-4'}}
              <span class="arrow"
                    [ngClass]="{
                    'up': (exchangeRateChange.change > 0) || ((exchangeRateChange?.percentageChange ?? 0) > 0),
                    'down': (exchangeRateChange.change < 0) || ((exchangeRateChange?.percentageChange ?? 0) < 0),
                    'square': (exchangeRateChange.change == 0) || ((exchangeRateChange?.percentageChange ?? 0) == 0)
                  }">
              </span>
              {{ (exchangeRateChange?.percentageChange ?? 0) | number:'1.2-2' }}%
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>


  <div class="main-container">
    <div class="left-container">

      <div class="upper-container">
        <div class="chart-container"><canvas id="chart" style="margin-top: 0;"></canvas></div>
      </div>

      <div class="lower-container">
        <div class="left-down-container">
          <div *ngIf="isLoggedIn; else notLoggedInBlock">
          <div class="custom-col" *ngFor="let account of accounts">
            <div class="custom-card">
              <div class="custom-card-body">
                <h5 class="custom-card-title">
                  <p id="currency-info" class="custom-card-title">
                    {{ currencyFlags[account.currencyCode] }}
                    {{account.currencyCode}}
                  </p>
                </h5>
                <p class="custom-card-text"> {{ account.balance + ' ' + account.currencyCode }}</p>
              </div>
            </div>
          </div>
          </div>
          <ng-template #notLoggedInBlock>
            <h3 class="notLoggedInBlock"><b>Tu pojawią się konta walutowe zalogowaniu</b></h3>
          </ng-template>
        </div>

        <div class="right-down-container">
          <div *ngIf="isLoggedIn; else notLoggedInBlock2">
          <div class="trasactions-container">
            <div class="row">
              <table class="grid-table">
                <tbody>
                <ng-container *ngFor="let transaction of transactions">
                  <tr *ngIf="transaction.typeOfTransaction == 'PAYOUT'; else elseBlock">
                    <td>{{ transaction.amountOfForeginCurrency  + ' ' + transaction.currencyId}}</td>
                    <td>{{ transaction.exchangeRate }}</td>
                    <td>{{ transaction.targetCurrency  + ' PLN' }}</td>
                    <td>{{ transaction.typeOfTransaction }}</td>
                    <td>{{ transaction.transactionDate | date:'dd-MM-yy HH:mm' }}</td>
                  </tr>
                  <ng-template #elseBlock>
                    <tr>
                    <td>{{ transaction.targetCurrency + ' ' + transaction.currencyId }}</td>
                    <td>{{ transaction.exchangeRate }}</td>
                    <td>{{ transaction.amountOfForeginCurrency+ ' PLN' }}</td>
                    <td>{{ transaction.typeOfTransaction }}</td>
                    <td>{{ transaction.transactionDate | date:'dd-MM-yy HH:mm' }}</td>
                    </tr>
                  </ng-template>
                </ng-container>
                </tbody>
              </table>
            </div>
          </div>
          </div>
          <ng-template #notLoggedInBlock2>
            <h3 class="notLoggedInBlock2"><b>Tu pojawi się historia transakcji po zalogowaniu</b></h3>
          </ng-template>
        </div>


      </div>
    </div>



    <div class="right-container">
      <ng-template #currencyPair let-exchangeRate>
      <div class="pair">
        <p class="exchange-rate-text">{{ exchangeRate.from }} = {{ exchangeRate.rate | number:'1.4-4' }} {{ exchangeRate.to }}</p>
      </div>
    </ng-template>

      <div class="popular-pairs">
        <h2>Najpopularniejsze pary walutowe</h2>
        <div class="pairs">
          <div class="column">
            <ng-container *ngFor="let exchangeRate of exchangeRates.slice(0, 15)">
              <ng-container *ngTemplateOutlet="currencyPair; context: {$implicit: exchangeRate}"></ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
