.welcome-page-container{
  display: flex;
  height: 88vh;
  width: 74vw;
  margin-left: 22%;
  flex-direction: column;
}
.main-container{
  margin-top: 1%;
  display: flex;
  height: 90%;
  width: 100%;

}
.left-container{
  display: flex;
  height: 100%;
  width: 75%;
  flex-direction: column;

}
.right-container{
  display: flex;
  height: 100%;
  width: 25%;
  border: 2px solid rgba(255, 255, 255, 0.22);
  border-radius: 47px;
  color: #dbdbdb;
  backdrop-filter: blur(25px);
  padding: 1%;
  margin-left: 1%;
}
.upper-container{
  display: flex;
  height: 60%;
  width: 100%;
  padding: 1%;
  border: 2px solid rgba(255, 255, 255, 0.22);
  border-radius: 47px;
  color: #dbdbdb;
  backdrop-filter: blur(25px);

}
.lower-container{
  display: flex;
  height: 40%;
  width: 100%;
  padding: 1%;
  flex-direction: row;
}
.left-down-container{
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: column;
  border: 2px solid rgba(255, 255, 255, 0.22);
  border-radius: 47px;
  color: #dbdbdb;
  backdrop-filter: blur(25px);
}
.right-down-container{
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: column;
  border: 2px solid rgba(255, 255, 255, 0.22);
  border-radius: 47px;
  color: #dbdbdb;
  backdrop-filter: blur(25px);
  margin-left: 1%;
  padding: 3%;
}

.popular-pairs{ //kontener dla par walutowychd
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  color: #DBDBDB;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;

  &::-webkit-scrollbar {
    width: 20px;
    padding-right: 20px;
    padding-top: 10%; // adjust this value to visually decrease the scrollbar height
    padding-bottom: 10%; // adjust this value to visually decrease the scrollbar height
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: inset 0 0 10px 10px transparentize(#888, 0.5);
    border: solid 5px transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 10px 10px transparentize(#888, 0.5);
    border: solid 5px transparent;
  }

  &::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 10px 10px #555;
    border: solid 5px transparent;
  }
}

.pairs {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 2%;
}

.banner {
  display: flex;
  white-space: nowrap;
  animation: banner-move 20s linear infinite;
  color: #DBDBDB;

  align-items: center;
  font-size: 16px;
  //justify-content: center;
  //font-size: 1.5em;
  //font-weight: 500f;
  //text-align: center;

  a {
    color: #DBDBDB;
    text-decoration: none;
  }

}

@keyframes banner-move {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.banner-container{
  overflow: hidden;
  display:flex;
  height: 10%;
  justify-content: center;
  width: 100%;
  padding: 1%;
  padding-top: 0.5%;
  border: 2px solid rgba(255, 255, 255, 0.22);
  border-radius: 47px;
  color: #dbdbdb;
  backdrop-filter: blur(25px);
}
.exchange-rate-change {
  display: inline-block;
  margin-right: 20px;
  //font-size: 1vw;
  font-size: 130%;
  //width: 180px;
}
.exchange-rate-text{
  margin-bottom: 0;
  //display: flex;
  //justify-content: center;
  //align-items: center;

}
.positive {
  color: green;
}

.negative {
  color: red;
}
.zero {
  color: #5fe5ee;
}

.square {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: #5fe5ee;
  transform: rotate(45deg) translateY(-4px);
}

.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  border-style: solid;
}

.up {
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent green transparent;
}

.down {
  border-width: 10px 5px 0 5px;
  border-color: red transparent transparent transparent;
}
