

<div class="container mt-5">
  <h2>Logowanie</h2>
  <form (ngSubmit)="onSubmitUserInfo()" #loginForm="ngForm" >

    <button type="submit" class="btn btn-primary">Zaloguj</button>
  </form>
  <!--  <div class="mt-3">-->
  <!--    Nie masz konta? <a href="/register">Zarejestruj się</a>-->
  <!--  </div>-->
  <!--  <div th:if="${param.error}" class="alert alert-danger">-->
  <!--    Błąd logowania. Sprawdź swoją nazwę użytkownika i hasło, a następnie spróbuj ponownie.-->
  <!--  </div>-->

</div>


