<div class="container mt-5">
  <h2>Informacje o użytkowniku</h2>
  <form (ngSubmit)="onSubmitUserInfo()" #loginForm="ngForm" >
    <button type="submit" class="btn btn-primary">Wyświetl informacje</button>
  </form>

  <div class="details" *ngIf="userInfo">
    <p><b>Imię:</b> {{ userInfo.firstName }}</p>
    <p><b>Nazwisko: </b>{{ userInfo.lastName }}</p>
<!--    <p>Rola: {{ userInfo.role }}</p>-->
<!--    <p>ID: {{ userInfo.id }}</p>-->
    <p><b>Email:</b> {{ userInfo.email }}</p>
    <p><b>Username:</b> {{ userInfo.username }}</p>
    <p><b>Token:</b> {{ userInfo.token }}</p>
  </div>
</div>
