.row {
  display: flex;
  font-family: "Twemoji Country Flags", "Helvetica", serif;
  text-decoration: none;
  color: #DBDBDB;
}

.column:nth-child(1) {
  width: 50px;
  border-right: 1px solid;
  border-color: rgba(219, 219, 219, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.column:nth-child(2) {
  width: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid;
  border-color: rgba(219, 219, 219, 0.3);
}

.column:nth-child(3) {
  width: 18vw;
  display: flex;
  justify-content: left;
}

#searchResults ul li {
  list-style-type: none;
  overflow-x: hidden;
  margin-top: 10px;
  a{
    text-decoration: none;
    color: #DBDBDB;
  }
}

.error-message {
  margin-left: 20px;
  margin-top: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
}
