<!--<a routerLink="/login">Login</a>-->
<!--<a routerLink="/register">Register</a>-->
<!--<a routerLink="/main">Main Page</a>-->



<!--<body class="header">-->

<!--  <div class="logo">-->
<!--    &lt;!&ndash; Your SVG logo here &ndash;&gt;-->
<!--    <img src="favicon.ico" alt="Logo">-->
<!--  </div>-->

<!--  <div class="search">-->
<!--    <input type="search" placeholder="🔎Szukaj...">-->
<!--  </div>-->

<!--  <div class="buttons">-->
<!--    <a routerLink="/login" class="button">Logowanie</a>-->
<!--    <a routerLink="/register" class="button">Rejestracja</a>-->
<!--  </div>-->

<!--</body>-->


<div class="header">

  <div class="logo">
    <!-- Your SVG logo here -->
    <img src="favicon.ico" alt="Logo">
    KANTOR_NAZWA
  </div>

  <div class="search">
    <input type="search" placeholder="🔎Szukaj...">
  </div>

  <div class="buttons">
    <a routerLink="/login" class="button">Logowanie</a>
    <a routerLink="/register" class="button">Rejestracja</a>
  </div>

</div>
