.header {
  height: 100px;
  background-color:#001233;
  display: flex;
  align-items: center;
  padding: 0 20px;
  //border-radius: 15px;
}

.logo {
  flex: 1;
  color: #FF595A;
  font-size: 250%;
  /* Add styles for your logo */
}

.search {
  display: flex;
  justify-content: center;
  //margin: auto 0;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #CAC0B3;
  text-decoration: none;
  //transition: background-color 0.3s, color 0.3s;
  border-radius: 15px;
}

.search input {
  background-color: #CAC0B3; //kolor tła
  color: black; //kolor tekstu
  padding: 8px 16px;
  border-radius: 15px; // Add this line to make the input field rounded
}

.search:hover {
  background-color: #fff;
  color: #333;
  border-radius: 15px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.button {
  padding: 8px 16px;
  border: 2px solid #FF595A;
  border-radius: 20px;
  background-color: #FF595A;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #CAC0B3;
  color: #333;
}
